<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>optimoveCredentials</key>
	<string>{{OPTIMOVE_CREDENTIALS}}</string>
	<key>optimoveMobileCredentials</key>
	<string>{{OPTIMOVE_MOBILE_CREDENTIALS}}</string>
	<key>optimoveInAppConsentStrategy</key>
	<string>{{IN_APP_STRATEGY}}</string>
	<key>optimoveEnableDeferredDeepLinking</key>
	<string>{{ENABLE_DEFERRED_DEEP_LINKING}}</string>
	 <key>delayedInitialization.enable</key>
     <string>{{ENABLE_DELAYED_INITIALIZATION}}</string>
     <key>delayedInitialization.region</key>
     <string>{{DELAYED_INITIALIZATION_REGION}}</string>
</dict>
</plist>