<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>optimoveCredentials</key>
	<string>{{OPTIMOVE_CREDENTIALS}}</string>
	<key>optimoveMobileCredentials</key>
	<string>{{OPTIMOVE_MOBILE_CREDENTIALS}}</string>
	<key>inAppConsentStrategy</key>
	<string>{{IN_APP_CONSENT_STRATEGY}}</string>
	<key>enableDeepLink</key>
	<string>{{ENABLE_DEEP_LINK}}</string>
</dict>
</plist>
