<?xml version='1.0' encoding='utf-8'?>
<plugin id="optimove-cordova-plugin" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>OptimoveSDKPlugin</name>
    <js-module name="Optimove" src="www/Optimove.js">
        <clobbers target="Optimove" />
    </js-module>
     <hook type="before_prepare" src="scripts/inject-config.js" />
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="OptimoveSDKPlugin">
                <param name="ios-package" value="Optimove" />
            </feature>
        </config-file>
        <source-file src="src/ios/OptimoveSDKPlugin.swift" />
        <header-file src="src/ios/InitializePluginManager.h" />
        <source-file src="src/ios/InitializePluginManager.m" />
        <header-file src="src/ios/Bridging-Header.h" type="BridgingHeader" />
        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git"/>
            </config>
            <pods>
                <pod name="OptimoveCore" spec="5.1.0" />
                <pod name="OptimoveSDK" spec="5.1.0" />
            </pods>
        </podspec>
    </platform>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="OptimoveSDKPlugin">
                <param name="android-package" value="com.optimove.android.cordova.OptimoveSDKPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <provider android:authorities="${applicationId}.optimoveinitprovider" android:name="com.optimove.android.cordova.OptimoveInitProvider" android:exported="false" />
            
        </config-file>
        <edit-config file="AndroidManifest.xml" target="/manifest" mode="merge">
            <manifest xmlns:tools="http://schemas.android.com/tools" />
        </edit-config>
    
        <edit-config file="AndroidManifest.xml" target="/manifest/" mode="merge">
            <manifest xmlns:tools="http://schemas.android.com/tools" />
        </edit-config>
        <edit-config file="AndroidManifest.xml" target="/manifest/application" mode="merge">
            <application tools:remove="android:dataExtractionRules" />
        </edit-config>
        <source-file src="src/android/OptimoveSDKPlugin.java" target-dir="src/com/optimove/android/cordova" />
        <source-file src="src/android/OptimoveInitProvider.java" target-dir="src/com/optimove/android/cordova" />
        <framework src="src/android/optimove.gradle" custom="true" type="gradleReference" />
    </platform>
</plugin>
