<?xml version='1.0' encoding='utf-8'?>
<plugin id="com-optimobilecreate-plugins" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Optimobile</name>
    <js-module name="Optimobile" src="www/optimobile-sdk-plugin.js">
        <clobbers target="optimobile" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="OptimobileSwift">
                <param name="ios-package" value="Optimobile" />
            </feature>
        </config-file>
        <source-file src="src/Optimobile.swift" />
        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git"/>
            </config>
            <pods>
                <pod name="OptimoveCore" spec="5.0.0" />
                <pod name="OptimoveSDK" spec="5.0.0" />
            </pods>
        </podspec>
    </platform>
</plugin>
