<?xml version='1.0' encoding='utf-8'?>
<plugin id="optimove-cordova-sdk" version="2.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>OptimoveSDKPlugin</name>
    <js-module name="OptimoveCore" src="www/OptimoveCore.js"/>
    <js-module name="Optimove" src="www/Optimove.js">
        <clobbers target="window.Optimove" />
    </js-module>
    <hook type="before_prepare" src="scripts/inject-config.js" />
    <platform name="ios">
        <resource-file src="scripts/optimove.plist" target="optimove.plist" />
        <config-file target="config.xml" parent="/*">
            <feature name="OptimoveSDKPlugin">
                <param name="ios-package" value="Optimove_Cordova" />
            </feature>
        </config-file>
        <source-file src="src/ios/OptimoveSDKPlugin.swift" />
        <header-file src="src/ios/InitializePluginManager.h" />
        <source-file src="src/ios/InitializePluginManager.m" />
        <header-file src="src/ios/Bridging-Header.h" type="BridgingHeader" />
        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git"/>
            </config>
            <pods>
                <pod name="OptimoveCore" spec="5.1.1" />
                <pod name="OptimoveSDK" spec="5.1.1" />
            </pods>
        </podspec>
    </platform>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="OptimoveSDKPlugin">
                <param name="android-package" value="com.optimove.android.cordova.OptimoveSDKPlugin" />
            </feature>
            <preference name="AndroidXEnabled" value="true" />
        </config-file >
        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <!-- Optimove FCM handler -->
            <service android:name="com.optimove.android.optimobile.FirebaseMessagingService" android:exported="false">
                <intent-filter>
                    <action android:name="com.google.firebase.MESSAGING_EVENT" />
                </intent-filter>
            </service>
            <!-- Optimove push receiver  -->
            <receiver android:name="com.optimove.android.cordova.PushReceiver" android:exported="false">
                <intent-filter>
                    <action android:name="com.optimove.push.RECEIVED" />
                    <action android:name="com.optimove.push.OPENED" />
                    <action android:name="com.optimove.push.DISMISSED" />
                    <action android:name="com.optimove.push.BUTTON_CLICKED" />
                </intent-filter>
            </receiver>
            <!-- Optimove initProvider-->
            <provider android:authorities="${applicationId}.optimoveinitprovider" android:name="com.optimove.android.cordova.OptimoveInitProvider" android:exported="false" />
        </config-file>

        <source-file src="src/android/OptimoveSDKPlugin.java" target-dir="src/com/optimove/android/cordova" />
        <source-file src="src/android/OptimoveInitProvider.java" target-dir="src/com/optimove/android/cordova" />
        <source-file src="src/android/JsonUtils.java" target-dir="src/com/optimove/android/cordova" />
        <source-file src="src/android/PushReceiver.java" target-dir="src/com/optimove/android/cordova" />
        <framework src="src/android/optimove.gradle" custom="true" type="gradleReference" />
    </platform>
</plugin>
